
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Блог модифицирован из учебного проекта доктора Анжелы Ву из учебного курса Web Development Bootcamp на Udemy</p>
  </div>
</div>
</body>
</html>
