<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="icon" href="icons/blog.ico">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">ГЛАВНАЯ</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">БЛОГ</a></li>
          <li id="about"><a href="/about">ОБО МНЕ</a></li>
          <li id="contact"><a href="/contact">КОНТАКТЫ</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
